<div class= "container">
    <div class= "title">
        <%= "#{current_author.firstname} #{current_author.lastname}" %>
    </div>

    <div>
        <strong>EMAIL</strong> : <%= current_author.email %>
    </div>

    <%= link_to "Edit Author", edit_author_registration_path, class: "btn btn-dark select" %>
</div>

